@color-red :rgb(248, 82, 82);

#app {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

button {
  cursor: pointer;
  &:focus {
    outline: 0; //remove blue outline
  }
  &.btn-white {
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
  }
  &.btn-white:hover {
    background-color: rgb(240, 238, 238);
  }
  &.btn-text {
    border: none;
    box-shadow: none;
    background-color: transparent;
  }
}

.app-header {
  overflow: hidden;
}

.btn-modal-filter {
  float: left;
}
.selector-order {
  float: right;

  button.selected {
    color: @color-red;
  }
}

.modal-mask {
  position: fixed;
  z-index: 1050;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.modal-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
}

.modal-body {
  .item-filter + .item-filter {
    margin-left: 5px;
  }
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}
