@border-color-basic : #ccc;
@font-size-basic : 15px;
@max-width : 800px;

html,
body {
  background-color: #f8f8f8;
  font-size: @font-size-basic;
  word-break: break-all;
}

p {
  margin: 0;
}

.contentlist {
  width: 100%;
  max-width: @max-width;
  margin: 0 auto;
  padding: 20px;

  .contentlist-header {
    overflow: hidden;
    margin-bottom: 10px;

    .btn-modal-filter {
      float: left;
    }
    .selector-order {
      float: right;

      button.selected {
        color: blue;
      }
    }
  }

  .contentlist-body {
    .contents {
      list-style: none;
      margin: 0;
      padding: 0;

      li a {
        color: inherit;

        &:hover {
          text-decoration: none;
        }
      }

      li + li {
        margin-top: 10px;
      }

      .content-wrapper {
        border: 1px solid @border-color-basic;
        background-color: #fff;
      }

      .content-header {
        padding: 10px 20px;
        border-bottom: 1px solid @border-color-basic;
        overflow: hidden;
        .content-category {
          float: left;
        }
        .content-no {
          float: right;
        }
      }
      .content-body {
        padding: 20px;

        h3 {
          margin-top: 1.4rem;
          font-size: 1.2rem;
          font-weight: 700;
        }
        h3,
        p {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}

button {
  margin: 0;
  padding: 5px 8px;
  border: none;
  box-shadow: none;

  cursor: pointer;
  &:focus {
    outline: 0; //remove blue outline
  }
  &.btn-white {
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
  }
  &.btn-white:hover {
    background-color: rgb(240, 238, 238);
  }
  &.btn-positive {
    background-color: #6da2d9;
    color: #fff;
  }
  &.btn-positive:hover {
    background-color: #5985b2;
    color: #fff;
  }
  &.btn-text {
    border: none;
    box-shadow: none;
    background-color: transparent;
  }
}

.modal-mask {
  position: fixed;
  z-index: 1050;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.1s ease;
}

.modal-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.1s ease;

  .modal-body {
    .item-filter + .item-filter {
      margin-left: 5px;
    }
  }

  .modal-footer {
    text-align: right;
  }

  /*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

  .modal-enter {
    opacity: 0;
  }

  .modal-leave-active {
    opacity: 0;
  }
}

.bar {
  width: 1px;
  margin: 0.5rem;

  &:before {
    content: "\007C";
  }
}

.ad-wrapper {
  margin-top: 10px;
  padding: 20px;
  border: 1px solid @border-color-basic;
  background-color: #fff;
}
.ad-label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}
.ad-body {
  display: flex;

  .ad-image-wrapper {
    flex: 0 0 220px;

    img {
      width: 100%;
      height: auto;
    }
  }
  .ad-content-wrapper {
    flex: 1 1 auto;
    margin-left: 1rem;

    h3,
    p {
      display: -webkit-box;
      width: 100%;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    h3 {
      font-size: 1.2rem;
      font-weight: 700;
      -webkit-line-clamp: 2;
    }
    p {
      -webkit-line-clamp: 4;
    }
  }

  @media (max-width: 480px) {
    display: block;

    .ad-image-wrapper,
    .ad-content-wrapper {
      flex: 0;
      width: 100%;
    }

    .ad-image-wrapper {
      max-width: 100%;
      margin-bottom: 10px;
      //padding-bottom: 66.6%;
    }
    .ad-content-wrapper {
      margin: 0;

      p {
        -webkit-line-clamp: 2;
      }
    }
  }
}

.detail-wrapper {
  width: 100%;
  max-width: @max-width;
  margin: 0 auto;
  padding: 20px;
}
.detail-footer {
  margin-top: 10px;
}

.article-wrapper {
  padding: 20px;
  border: 1px solid @border-color-basic;
  background-color: #fff;
}
.article-header {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid @border-color-basic;
}

.replies {
  margin-top: 1rem;

  ul {
    list-style: none;
    padding: 0;
  }
  li + li {
    margin-top: 10px;
  }

  .replies-label {
    font-size: 1.2rem;
  }
  .reply-wrapper {
    padding: 20px;
    background-color: #fff;
    border: 1px solid @border-color-basic;
  }
  .reply-header {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid @border-color-basic;
    .reply-email {
      font-weight: 600;
    }
    .reply-regdate {
      float: right;
    }
  }
}
